/.agents
.env
skills-lock.json

# Android / Gradle
local.properties
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

app/build/
app/release/

# Backend
backend/node_modules/
backend/.env

